{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="{% static 'polls/bootstrap-4.0.0-beta.2/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet"  href="{% static 'polls/style.css' %}" />
</head>
<body>

{% include 'polls/header.html' %}
<div class="jumbotron">
        <div class="container">
            {% block main_content %}
            {% endblock %}
        </div>
</div>
{% include 'polls/footer.html' %}
</body>
</html>